.trybutton{
    color: #000000;
    background-color: #04AA6D;
    border-radius: 2px;
    cursor:pointer;
    padding:8px 15px;
    font-weight: 700;
    margin-top: -200px;
}

.trybutton:hover{
    color: #FFFFFF;
    text-decoration: none;
}

.trybutton:visited *{
    color: #FFFFFF;
}